/******** General **********/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1.7em;
    background-color: #262626;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: white;
}

button {
    background-color: rgba(0,0,0,0);
    outline: none;
    border: none;
}

 /* made an empty div with this class above content */
.square { 
    padding-bottom: 100%; 
}
.half { 
    padding-bottom: 50%; 
}
.third { 
    padding-bottom: 33%; 
}
.third-inverse { 
    padding-bottom: 133%; 
}
.content {
    position: absolute;
    top: 0;  bottom: 0;  left: 0;  right: 0;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

.black {
    color: #262626;
}
.white {
    color: white;
    font-weight: 100;
}
.gold {
    color: #D3B380;
}
.black-bg {
    background-color: #262626;
}
.white-bg {
    background-color: white;
}
.gold-bg {
    background-color: #D3B380;
}

.banner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 4;
}

.home {
    position: absolute;
    cursor: pointer;
    top: 100%;
    left: calc(7.5% + 5px);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background-image: url('../img/default-logo.png');
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
    z-index: 4;
    border: #D3B380 solid 1px;

    -ms-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.section-header {
    position: relative;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    z-index: 3;
    top: 0%;
    right: 8%;
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}
.section-header h1{
    display: inline-block;
    height: 100%;
    margin-top: 35px;
}

.theme-button {
    position: relative;
    cursor: pointer;
    width: 150px;
    height: 50px;
    margin: 5px; 
    border: #D3B380 solid 1px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #D3B380;

    -ms-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}
.theme-button:hover {
    color: #262626;
    border: rgb(158, 133, 92) solid 1px;
}
.ease {
    width: 0px;
    height: 51px;
    background-color: #D3B380;

    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}
.theme-button .ease {
    height: 100%;
}
.theme-button:hover .ease{
  width: 100%;
  background-color: rgb(158, 133, 92);
}

.pure-g {
    position: relative;
    width: 85%;
    height: 90%;
    letter-spacing: normal;
    margin: auto;
    top:0; bottom: 0; left: 0; right: 0; 
}

.l-box {
    position: relative;
    margin-top: auto;
    margin-bottom: 0;
    top: 0px;
    height: 100%;
}

.fp-controlArrow.fp-prev {
    visibility: hidden;
    border-width: 20px 15px 20px 0; 
}
.fp-controlArrow.fp-next {
    visibility: hidden;
    border-width: 20px 0 20px 15px; 
}

.fp-slidesNav ul li a span {
    background-color: #D3B380;
}
.fp-slidesNav {
    left:auto;
    right: 0;
}
.fp-slidesNav.bottom {
  bottom: 1%;
}


/******** Splash *********/

.pure-g.splash {
    position: fixed;
    width: 85%;
    height: 70%;
}

.splash .l-box:nth-child(1) {
    height: 70%;
}
.splash .l-box:nth-child(2) {
    height: 30%;
}

.caption {
    position: relative;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 18px;
    padding-bottom: 10px;
    padding-right: 0px;
    line-height: 1.7;
}

.banner#footer {
    top: auto;
    bottom: 0;
    height: 5%;
}
.footer {
    font-family: 'Lato', sans-serif;
    display: inline;
    vertical-align: bottom;
}

a.social {
    color: #D3B380;
    text-decoration: none;
    padding-left: 6px;
    padding-right: 6px;
}

.footer i {
    font-size: 20px;
    transform: translateY(15%);
    -webkit-transform: translateY(15%);
}

.footer i:hover {
    color: white;
}

/******** About *********/

.about p {
    margin: 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    line-height: 1.6
}

.about i.quote {
    font-size: 33px;
}

.about i.logo {
    font-size: 35px;
    border: #D3B380 solid 4px;
    border-radius: 50%;
}

.about .content {
    width: 40%;
}

/******* Portfolio *********/


.pure-g.portfolio {
    width: 85%;
    margin-top: 90px;
}

.portfolio .l-box {
    height: 50%;
    border: #262626 solid 1px;
    padding-bottom: 10px;
}

.header {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #D3B380;
    margin: 10px;
}

.sub-header {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 13px;
    color: white;
    margin: 15px;
}

.dash {
    color: #D3B380;
    margin-top: -20px;
    margin-bottom: -10px;
    font-family: sans-serif;
    font-weight: 700;
}

.pointer {
    position: relative;
    display: block;
    width: 0;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    border-style: solid;
    border-width: 20px 0px 20px 20px;
    border-color: transparent;
    border-left-color: white;
}
.pointer#black{
    border-left-color: #D3B380;
}

.item {
    position: relative;
    width: 100%;
    height: 100%;
}

.face {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    -ms-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}
.item:hover .face {
    height: 60%;
}

.curtain {
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
}


.tab {
    position: absolute;
    cursor: pointer;
    display: block;
    opacity: 0;
    overflow: hidden;
    width: 100%;
    height: 0%;
    bottom: 0;
    border-bottom: #262626 solid 4px;
    border-left: none;
    
    -ms-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}
.item:hover .tab {
    height: 40%;
    opacity: 1;
    border-top: #D3B380 solid 3px;
    border-bottom: #D3B380 solid 3px;
}

.content-subhead-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.content-subhead {
    position: absolute;
    text-align: center;
    color: white;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

/******* Portfolio Expanded ********/

.pure-g.portfolio-expanded {
    width: 100%;
    height: 100%;
}

.l-box-1 {
    background-size: cover;
    background-position: center;
    -webkit-filter: saturate(2.2);
    filter: saturate(2.2);
}

.l-box-2 {
    padding: 5%;
}

.expanded {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 4;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #D3B380;
    border-radius: 50%; 
    z-index: 4;
}

p.copy {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
}

.expanded .header {
    display: inline;
    font-size: 17px;
    color: #D3B380; 
    margin-right: 0;
}

.expanded .sub-header {
    display: inline;
    font-size: 18px;
    color: white;
}

.icon-container {
    display: flex;
    display: -webkit-flex;
}

.tag {
    position: relative;
    display: inline;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 45px;
    margin: 5px; 
    -webkit-filter: sepia(0);
    filter: sepia(0);
}
.tag#tag1 { background-image: url('../img/tags/default-tag.png'); }
.tag#tag2 { background-image: url('../img/tags/default-tag.png'); }

.tag span {
    opacity: 0;
    position: absolute;
    width: 40px;
    bottom: 40px;
    left: 50%;
    margin-left: -20px;
    color: #D3B380;
    text-align: center;
    border-bottom: 1px solid #D3B380;
    height: 25px;
    line-height: 29px;
    text-align: center;

    -ms-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.tag:hover span {
    opacity: 1;
    bottom: 50px;
    left: 50%;
    margin-left: -20px;
    z-index: 999;
}
.tag span:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12px;
    width: 0; height: 0;
    border-top: 1px solid #D3B380;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}
.tag span:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -6px;
    width: 0; height: 0;
    border-top: 6px solid #D3B380;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}


.store-link {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    -ms-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.store-link#apple { background-image: url('../img/tags/apple-store.png'); }
.store-link#apple-comingsoon { background-image: url('../img/tags/apple-comingsoon.png'); }
.store-link#android { background-image: url('../img/tags/android-store.png'); }

.line {
    width: 100%;
    height: 0;
    border-bottom: #D3B380 solid 1px;
}

.expanded a {
    text-decoration: none;
    color: #D3B380;
}
/******* Contact *********/

.pure-g.contact {
    padding: 5px;
    margin-top: 90px;
    height: calc(100% - 90px);
}

.contact .l-box {
    height: 50%;
}

.contact .content {
    flex-direction: column;
    -webkit-flex-direction: column;
}

.contact .caption:last-child {
    border-bottom: rgba(211, 179, 128, 0.15) solid 1px;
}

.contact h1.caption {
    padding-top: 20px;
    margin: 0;
}

.contact p.copy {
    display: none;
    margin: 0;
}

.social-list {
    position: relative;
    display: block;
    width: 100%;
    list-style: none;
}

.social-list .content {
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

.social {
    -ms-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.social-list .theme-button {
    width: 100%;
    margin-bottom: 20px;
}
.theme-button:hover .social {
    color: #262626;
}

#section3 .banner {
    display: none;
}

/*****************************************
/////////// Tablets (Portrait) + /////////
*****************************************/

@media screen and (min-width: 48em) {

/******* General *********/

    .section-header {
        font-size: 25px;
    }

    .home {
        width: 60px;
        height: 60px;
    }

    .theme-button {
        width: 200px;
        height: 65px;
        font-size: 20px;
    }

    .fp-slidesNav.bottom {
        bottom: 17px;
    }

/******* Splash *********/

    .caption {
        font-size: 25px;
        line-height: 1.7;
    }

/******* Portfolio *********/

    .title {
        font-family: 'Lato', sans-serif;
        font-size: 50px;
    }

    .portfolio .l-box {
        padding-left: 5px;
        padding-right: 5px;
    }

    .expanded .l-box-1 {
        height: 25%;
    }

    #portfolio .content i {font-size: 90px; }
    #contact .content i {font-size: 40px; }
    #art .content i {font-size: 40px; }

    .header {
        font-size: 20px;
    }

    .sub-header {
        font-size: 15px;
    }

    .pointer {
        top: -10px;
        left: 0; right: 0;
        border-width: 0px 20px 20px 20px;
        border-color: transparent;
        border-bottom-color: white;
    }
    .pointer#black {
        border-color: transparent;
        border-bottom-color: #D3B380;
    }

    .item:hover .face {
        height: 70%;
    }

    .item:hover .tab {
        height: 30%;
    }

/******* Portfolio Expanded *********/

    p.copy {
        font-size: 20px;
        line-height: 1.4;
    }

/******* Contact *********/
    
    .contact p.copy {
        display: block;
    }

    .social-list i {
        font-size: 35px;
    }

    #button-blue {
        padding-top: 22px;
        padding-bottom: 22px;
    }

    .ease {
        height: 77px;
    }
}

/*****************************************
/////////// Tablets (Landscape) + ////////
*****************************************/

@media screen and (min-width: 64em) {

/******* Splash *********/

    .splash .l-box:nth-child(1) {
        height: 100%;
    }
    .splash .l-box:nth-child(2) {
        height: 100%;
    }

    .caption {
        padding-bottom: 20px;
        border-right: rgba(211, 179, 128, 0.15) solid 1px;
    }

/******* Portfolio *********/
    
    .portfolio .l-box {
        width: 50%;
    }

    .expanded .l-box-1 {
        height: 100%;
    }

/******* Portfolio Expanded *********/

    p.copy {
        padding-right: 25%;
    }


/******* Contact *********/
    
    .contact .l-box {
        height: 100%;
    }

    .contact .l-box:last-child .caption {
        border-right: none;
    }
    .contact .l-box:last-child .content {
        padding-left: 50px;
    }

    .contact .caption#sub-caption:last-child {
        border-bottom: none;
    }

    .contact p.copy {
        padding-right: 50px;
        border-right: rgba(211, 179, 128, 0.15) solid 1px;
    }

    .contact .l-box:last-child .social-list .content {
        padding-left: 0;        
    }
}

/*****************************************
/////////////// Desktops + ///////////////
*****************************************/

@media screen and (min-width: 78em) {

/******* Splash *********/
    
    .caption {
        font-size: 35px;
    }

/******* Portfolio *********/

    .portfolio .l-box {
        width: 25%;
    }

    .curtain {
        display: block;
    }

    .fp-controlArrow.fp-prev {
        visibility: visible;
        left: 3%;
        border-width: 35px 25px 35px 0; 
    }
    .fp-controlArrow.fp-next {
        visibility: visible;
        right: 3%;
        border-width: 35px 0 35px 25px; 
    }
    .fp-slidesNav {
        left: 65%;
    }

/******* Contact *********/

    .contact p.copy {
        font-size: 22px;
        line-height: 1.7;
    }

}